<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SpringBoot.SpringBoot.dao.MemberDAO">
    <select id="getMemberList" parameterType="com.SpringBoot.SpringBoot.model.MemberVO" resultType="com.SpringBoot.SpringBoot.model.MemberVO">
        SELECT * FROM member
    </select>
	<select id="getMember" parameterType="com.SpringBoot.SpringBoot.model.MemberVO" resultType="com.SpringBoot.SpringBoot.model.MemberVO">
	    SELECT * FROM member WHERE id = #{id}
	</select>
</mapper>
